<p id="notice"><%= notice %></p>

<h1>Listing Usersessions</h1>

<table>
  <thead>
    <tr>
      <th>Sign in</th>
      <th>Create</th>
      <th>Sign up</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usersessions.each do |usersession| %>
      <tr>
        <td><%= usersession.sign_in %></td>
        <td><%= usersession.create %></td>
        <td><%= usersession.sign_up %></td>
        <td><%= link_to 'Show', usersession %></td>
        <td><%= link_to 'Edit', edit_usersession_path(usersession) %></td>
        <td><%= link_to 'Destroy', usersession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usersession', new_usersession_path %>
